@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/projects';
@import './components/contact';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
}