.about-container {
    background: url("../../images/wave\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: top center;
    margin-top: -2px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 80px;
    h3 {
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
    }
}

.my-description {
    text-align: center;
    p {
        margin-top: 3px;
    }
}

.information-container {
    margin-top: 80px;
    padding: 20px;
    padding-top: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 25px 5px rgba(0, 0, 0, 0.075);
    li {
        text-transform: uppercase;
    }
}

.inner-about {
    max-width: 375px;
    margin: auto;
}

@media screen and (min-width: 950px) {
    .about-container {
        background-size: cover;
    }
    .inner-about {
        max-width: 700px;
    }
    .information-container {
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 300px;
        }
        li {
            width: 150px;
        }
    }
}