.main-container {
    position: relative;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    h1 {
        margin: 0;
        margin-top: 27px;
        margin-left: 20px;
    }
}

.burger-button {
    padding-right: 5px;
    padding-top: 15px;
    button {
        -webkit-tap-highlight-color: transparent;
    }
}

.menu-options {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: transform 0.2s ease-in-out;
    transform: translate(0,-100%);
    ul {
        background: #efefef;
        list-style-type: none;
        min-height: 280px;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.096);
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 90px;
        text-align: center;
    }
    li {
        font-size: 17px;
        margin: 17px 0;
        cursor: pointer;
    }
}

.show {
    transform: translate(0,0);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after  {
    width: 25px;
    height: 3px;
}

.hamburger-box {
    width: 25px;
}

@media screen and (min-width: 950px) {
    .burger-button {
        display: none;
    }
    .menu-container {
        justify-content: space-between;
    }
    .dark-switch {
        display: none;
    }
    .menu-options {
        position: relative;
        transition: none;
        transform: translate(0,0);
        width: auto;
        margin-top: 27px;
        ul {
            display: flex;
            min-height: auto;
            padding-top: unset;
            background-color: #fff;
            box-shadow: none;
        }
        li {
            margin: 0 15px;
        }
    }
}